/**
* Print stylesheet for SDC
* @version         1.0
* @lastmodified    5/13/21
*/
@media print {
    .content-container {
        width: 100%; 
        margin: 0; 
        float: none;
    }
    /** Setting margins */       
    @page { 
        margin: 2cm 
    }

    /** Specfic elements **/
    .tool-group, 
    #query-topic-picker, 
    .explain, 
    .print-button, 
    .leaflet-control-zoom,
    .action-links,
    .sticky-time-series-buttons,
    footer,
    .corner-ribbon,
    #menu-toggle {
        display: none;
    }

    /* header.section-contents {
        float: none;
        width: 100%;
    } */

    header.section-contents, header.section-contents-list {
        float: none;
        width: auto;
        margin: 0;
    }
    header.section-contents h1, header.section-contents-list h1 {
        text-align: left;
        padding-left: 0.6em;
        margin-bottom: 0;
        border-bottom: none;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-left-radius: 0;
    }
    article .section-container h2.header-for-columns {
        text-align: left;
    }
    article .section-container {
        margin-top: 0;
        margin-left: 0;
        border-top: none;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
    }
    section aside {
        float: none;
        margin-left: 0;
        width: auto;
        padding: 0;
        text-align: left;
        margin-bottom: 3em;
    }
    aside .action-button {
        display: inline-block;
    }
    #glossary aside {
        float: right;
        margin: 0 0 2em 2em;
        padding: 1em;
        width: 200px;
    }
    aside ul.sumlev-list {
        margin: .33em 0;
    }
    aside ul.sumlev-list li {
        float: left;
        margin: 0 0 .67em .67em;
    }
    aside ul.sumlev-list li:last-child {
        margin-right: 1em;
    }
    #chosen-table h2 {
        padding-left: 0;
    }
    .column-full,
    .column-golden-wide,
    .column-golden-narrow {
        float: none;
        clear: both;
        width: auto;
        margin-right: 0;
    }
    .column-half .column-half {
        float: left;
        clear: none;
        width: 47%;
        margin-right: 3%;
    }
    .centered {
        text-align: left;
    }
    .explain {
      text-align: left;
    }

    footer, #page-footer {
        background-color: white;
        border-top: 0px solid white;
    }

    section {
        break-inside: avoid;
    }




} 